{% extends 'base.html' %}
{% block content %}

<h1>Crypto Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ crypto.name }}</span>
                <p>Price: {{ crypto.price }}</p>
                <p>Description: {{ crypto.description }}</p>
                {% if crypto.amount > 0 %}
                <p>Amount: {{ crypto.amount }}</p>
                {% else %}
                <p>Amount: 0</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'cryptos_update' crypto.id %}">Edit</a>
                <a href="{% url 'cryptos_delete' crypto.id %}">Delete</a>
            </div>
        </div>
        {% for photo in crypto.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}

        <form action="{% url 'add_photo' crypto.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>
    <div class="col s6">
        <form action="{% url 'add_purchase' crypto.id %}" method="post">
            {% csrf_token %}
            {{ purchase_form.as_p }}
            <input type="submit" class="btn" value="Add Purchase">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Purchase Price</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in crypto.purchase_set.all %}
                <tr>
                    <td>{{purchase.date}}</td>
                    <td>{{purchase.purchase_price}}</td>
                    <td>{{purchase.total_amount}}</td>
                    <td>{{purchase.get_purchase_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col s6">
        <h3>Your {{ crypto.name }} Feelings</h3>
        {% if crypto.feelings.count %}
        {% for feeling in crypto.feelings.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <span style="color: {{ feeling.color }}">{{ feeling.status }}</span>
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'remove_feeling' crypto.id feeling.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn red">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No feelings :(</h5>{% endif %}
    </div>
    <!-- Available feelings will come after this line -->
    <div class="col s6">
        <h3>Available Feelings for {{crypto.name}} </h3>
        {% if feelings.count %}
        {% for feeling in feelings.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <span style="color: {{ feeling.color }}">{{ feeling.status }}</span>
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_feeling' crypto.id feeling.id%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{crypto.name}} Already Has All feelings Available</h5>
        {% endif %}
    </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>

{% endblock %}